@media (max-width: 750px) {
    header {
        width: 100% !important;
        height: auto;
        max-width: none;
        min-width: 0;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .bienvenidos{
        display: none;
    }

}

@media (min-width: 250px) and (max-width: 750px) {
    footer {
        padding: 20px; /* Ajustar el padding */
        text-align: center; /* Centrar el texto */
    }

    footer .footer1 {
        flex-direction: column; /* Cambiar a columna para una mejor visualización */
        align-items: center; /* Centrar los elementos dentro de la sección */
    }

    footer .footer1 h3, footer .footer1 h4 {
        font-size: 15px; /* Ajustar el tamaño de la fuente */
    }

    footer .footer1 p, footer .footer1 ul, footer .footer1 a {
        font-size: 14px;
    }

    footer .footer_derechos p{
        display: none;
    }
}


@media (min-width: 400px) and (max-width: 500px) {
    header {
        width: 100% !important;
        height: auto;
        max-width: none;
        min-width: 0;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: 10px;
        background-color: rgb(255, 0, 0);
    }

    .hero h2{
        font-size: 60px;
    }

    .hero p{
        font-size: 20px;
    }

    .bienvenidos{
        display: none;
    }

    .fixed{
        display: none;
    }

    .grid-galeria{
        font-size: 12px;
    }

}

@media (min-width: 300px) and (max-width: 499px) {
    header {
        width: 100% !important;
        height: auto;
        max-width: none;
        min-width: 0;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: 10px;
        background-color: rgb(255, 0, 0);
    }

    .hero h2{
        font-size: 60px;
    }

    .hero p{
        font-size: 20px;
    }

    .hero{
        width: 100%;
        height: auto;
    }

    .bienvenidos{
        display: none;
        width: 100%;
        height: auto;
    }

    .fixed{
        display: none;
    }

}